.markdown {
    line-height: 1.5;
    font-family: Georgia, serif;
    font-size: 20px;
    color: #1a1a1a;
    background-color: #fdfdfd;

    margin: 0 auto;
    max-width: 42em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    hyphens: auto;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}
@media (max-width: 600px) {
    .markdown {
    font-size: 0.9em;
    padding: 1em;
    }
}
@media print {
    .markdown {
    background-color: transparent;
    color: black;
    font-size: 12pt;
    }
    .markdown p, h2, h3 {
    orphans: 3;
    widows: 3;
    }
    .markdown h2, h3, h4 {
    page-break-after: avoid;
    }
}
.markdown p {
    margin: 1em 0;
}
.markdown a {
    color: #1a1a1a;
}
.markdown a:visited {
    color: #1a1a1a;
}
.markdown img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.markdown h1 {
    text-align: center;
}
.markdown h1, h2, h3, h4, h5, h6 {
    margin-top: 1.4em;
}
.markdown h5, h6 {
    font-size: 1em;
    font-style: italic;
}
.markdown h6 {
    font-weight: normal;
}
.markdown ol, ul {
    padding-left: 1.7em;
    margin-top: 1em;
}
.markdown li > ol, li > ul {
    margin-top: 0;
}
.markdown blockquote {
    margin: 1em 0 1em 1.7em;
    padding-left: 1em;
    border-left: 2px solid #e6e6e6;
    color: #606060;
}
.markdown code {
    font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
    font-size: 85%;
    margin: 0;
}
.markdown pre {
    margin: 1em 0;
    overflow: auto;
}
.markdown pre code {
    padding: 0;
    overflow: visible;
}
.markdown .sourceCode {
    background-color: transparent;
    overflow: visible;
}
.markdown hr {
    background-color: #1a1a1a;
    border: none;
    height: 1px;
    margin: 1em 0;
}
.markdown table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
}
.markdown table caption {
    margin-bottom: 0.75em;
}
.markdown tbody {
    margin-top: 0.5em;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
}
.markdown th {
    border-top: 1px solid #1a1a1a;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.markdown td {
    padding: 0.125em 0.5em 0.25em 0.5em;
}
.markdown header {
    margin-bottom: 4em;
    text-align: center;
}
.markdown #TOC li {
    list-style: none;
}
.markdown #TOC a:not(:hover) {
    text-decoration: none;
}
.markdown code{white-space: pre-wrap;}
.markdown span.smallcaps{font-variant: small-caps;}
.markdown span.underline{text-decoration: underline;}
.markdown div.column{display: inline-block; vertical-align: top; width: 50%;}
.markdown div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
.markdown ul.task-list{list-style: none;}